.btn {
  -webkit-box-shadow: $box-shadow;
  -moz-box-shadow: $box-shadow;
  box-shadow: $box-shadow;
  border: 0;
  border-radius: $spacing-lg;
  font-weight: 600;
  margin-right: $spacing;
  width: auto;
  padding: $spacing $spacing-lg;
  margin-bottom: $spacing-xs;
  &.btn-primary {
    background: $ak-btn-primary;
    color: $white !important;
    &:hover {
      background: $gray-700;
    }
  }
  &.form-control{
    line-height: 2.58;
    width: fit-content;
  } 
  &.btn-secondary {
    background: $ak-btn-secondary;
    color: $black !important;
    &:hover {
      background: $gray-700;
    }
  }
  &.btn-outline-secondary {
    background: $white;
    color: $ak-color-main !important;
    border: 1px solid $ak-color-main !important;
    &:hover {
      background: $ak-color-main;
      color: $white !important;
    }
  }
  &.btn-outline-alternate {
    background: $white;
    color: $ak-green !important;
    border: 1px solid $ak-green !important;
    &:hover {
      background: $ak-green;
      color: $white !important;
    }
  }
  &.btn-pink {
    background: $ak-color-main !important;
    color: $white;
    &:hover {
      background: $ak-purple !important;
      color: $white !important;
    }
  }
  &.btn-purple {
    background: $ak-color-secondary !important;
    color: $white;
    &:hover {
      background: $ak-color-main !important;
      color: $white !important;
    }
  }
  &.btn-green {
    background: $ak-green !important;
    color: $white;
    &:hover {
      background: $ak-color-alternate !important;
      color: $white !important;
    }
  }
}

.btn-circle {
  border-radius: 100%;
  height: 2.5rem;
  width: 2.5rem;
  font-size: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  &.btn-sm {
    height: 1.8rem;
    width: 1.8rem;
    font-size: 0.75rem;
  }
  &.btn-lg {
    height: 3.5rem;
    width: 3.5rem;
    font-size: 1.35rem;
  }
}

.btn-icon-split {
  padding: 0;
  overflow: hidden;
  display: inline-flex;
  align-items: stretch;
  justify-content: center;
  .icon {
    background: fade-out($black, .85);
    display: inline-block;
    padding: $btn-padding-y $btn-padding-x;
  }
  .text {
    display: inline-block;
    padding: $btn-padding-y $btn-padding-x;
  }
  &.btn-sm {
    .icon {
      padding: $btn-padding-y-sm $btn-padding-x-sm;
    }
    .text {
      padding: $btn-padding-y-sm $btn-padding-x-sm;
    }
  }
  &.btn-lg {
    .icon {
      padding: $btn-padding-y-lg $btn-padding-x-lg;
    }
    .text {
      padding: $btn-padding-y-lg $btn-padding-x-lg;
    }
  }
}
