// Global component styles

html {
  position: relative;
  min-height: 100%;
}

body {
  height: 100%;
}

a {
  &:focus {
    outline: none;
  }
}

// Main page wrapper
#wrapper {
  display: flex;
  #content-wrapper {
    background-color: $gray-100;
    width: 100%;
    overflow-x: hidden;
    #content {
      flex: 1 0 auto;
    }
  }
}

// Set container padding to match gutter width instead of default 15px
.container,
.container-fluid {
  padding-left: $grid-gutter-width;
  padding-right: $grid-gutter-width;
}

// Scroll to top button
.scroll-to-top {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  display: none;
  width: 2.75rem;
  height: 2.75rem;
  text-align: center;
  color: $white;
  background: fade-out($gray-800, .5);
  line-height: 46px;
  &:focus,
  &:hover {
    color: white;
  }
  &:hover {
    background: $gray-800;
  }
  i {
    font-weight: 800;
  }
}

@font-face {
  font-family: 'Museo 300';
  font-style: normal;
  font-weight: normal;
  src: local('Museo 300'), url('../fonts/Museo300-Regular.woff') format('woff');
  }
  
  
@font-face {
  font-family: 'Museo 700';
  font-style: normal;
  font-weight: normal;
  src: local('Museo 700'), url('../fonts/Museo700-Regular.woff') format('woff');
}

h1,
h2,
h3 {
  font-family: 'Museo 700';
  color: black;
}

.ak-color-main-bg {
  background-color: $ak-color-main-bg;
} 
.ak-color-secondary-bg {
  background-color: $ak-color-secondary-bg;
} 
.ak-color-alternate-bg {
  background-color: $ak-color-alternate-bg;
}
.ak-accent-bg-green {
  background-color: $ak-accent-color2;
} 
.ak-bg-green {
  background-color: $ak-green;
} 
.ak-bg-dots {
  background-image: url(../img/atoukids-bg-dots.svg);
}

.ak-color-main {
  color: $ak-color-main;
} 

.text-primary {
  color: $ak-green;
} 

.ak-color-secondary {
  color: $ak-purple;
} 

.ak-color-alternate {
  color: $ak-color-alternate;
} 


table {
  .form-control {
    box-shadow: none !important;
  }
}
